{% extends "base.html" %}

{% block body %}


    <div>
        <form action="" method="post">
            <ul>
                {% csrf_token %}
                    {% for field in form %}
                <li>
                        
                        {{ field.label_tag}}
                        {{ field }}
                        {{ field.errors }}
                        
                </li>
                {% endfor %}
                <li><input type="submit" value="提交"></li>
            </ul>
        </form>
    </div>

{% endblock %}