{% extends "base.html" %}
{% block body %}
<h2>
    {% load upper %}
    {% upper %}
    欢迎来到aigo商城
    {% endupper %}
</h2>
    <ul>
        <li>商品列表</li>
        {% for good in goods%}
        <img src="{{ MEDIA_URL }}{{ good.img }}" alt="{{ good.img }}">
        <br>
        
        商品名称：<a href="{% url 'info' good.id %}">{{ good.name }}&emsp;</a>
        商品价格：{{ good.price }}&emsp;
        {% if good.discount %}
        商品折扣：{{ good.discount }}&emsp;
        {% endif %}
        商品上架时间：{{ good.ptime }}&emsp;
        <br>
        {% endfor %}
    </ul>
    <div>
        过滤器{{ hello | ass}}
    </div>
{% endblock %}