<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城在线</title>
</head>
<body>
     <h2>欢迎来到在线商城</h2>
    <ul>
        <li>商品列表</li>
        {% for good in goods%}
        <img src="{{ MEDIA_URL }}{{ good.img }}" alt="{{ good.img }}">
        <br>
        
        商品名称：<a href="{% url 'info' good.id %}">{{ good.name }}&emsp;</a>
        商品价格：{{ good.price }}&emsp;
        {% if good.discount %}
        商品折扣：{{ good.discount }}&emsp;
        {% endif %}
        商品上架时间：{{ good.ptime }}&emsp;

        <br>
        {% endfor %}
    </ul>
</body>
</html>