<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城在线</title>
</head>
<body>
     <h2>欢迎来到在线商城</h2>
    <ul>
        <li>商品列表</li>
        {% for good in goods%}
        <img src="static/{{ good.img }}" alt="{{ good.img }}">
        <br>
        {{ good.name }}
        {{ good.price }}
        {{ good.ptime }}
        <br>
        {% endfor %}
    </ul>
</body>
</html>