{% extends "base.html" %}

{% block body %}

    <div>
            <h2>商品详情</h2>
        </div>
        <table>
            {% for key,value in good.items %}
            {% if key != "_state" %}
                {% if key == "context" %}
                    <tr>
                        <b>{{key}}</b>
                        <pre>{{ value | safe }}</pre>
                    </tr>
                {% else %}

                    <tr>
                        <b>{{key}}</b>
                        <pre>{{ value }}</pre>
                    </tr>
                {% endif %}
            
            {% endif %}
            {% endfor %}
            {% with tid=good.id %}
            <form action="{% url 'info' id=tid %}" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit" value="buy">加入购物车</button>
                <button><a href="{% url 'buy' %}">立即购买</a></button>                                    
            </form>
            {% endwith %}
        </table>

{% endblock %}